<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/hospital/css/history.css">
    <title>Document</title>
</head>
<body class="history-table_root">
    <div class="center">
        <h1>Search History</h1>
    </div>
    <div class="center">
        <table class="history-table_table">
            <tr>
                <th>History</th>
            </tr>
            {% if shistories %}
            {% for history in shistories %}
            <tr>
                <td>{{history.location}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            <!-- END SECTION -->
        </table>
    </div>
</body>
</html>